/* REFERENCE 
	# Means we are editting an ID
	. Means we are editting a Class
	  Nothing means we are editting a html standard tag
	: Allows us to to style parts of an element
	
	Background changes the color of the background
	Height and Width change the height and width of the page
	
	Flex lets us use spacing and alignment features
	Wrap lets us control what happens when the page overflows in to the cointainer, instead of being cut off by the screen size
	Justify-content' aligns flex items along the axis
	Center makes content in center of main axis
	The direction of items in the flex are row by default
	Font-size changes the font size...
	Overflow is similar to wrap, but controls the elements contents 
	
	Fixed remains in blace no matter viewport
	Relative allows us to change position of element, relative to it's position
	
	Text-align aligns text
	Align item is similar to Text-align but with cross axis
	
	z-index is what level the element is on, I used 98 for this, and later 99 for the back button
	The margin allows for a specified space around the elements, outisde of borders (if any),
	we can also use margin-top, margin-right, margin-bottom and margin-left
	Border creates a border
	Border Radius changes the 'roundness' of the border
*/



/*** The Genral HTML Standards ***/

/* This body changes ALL body tags */
/* There is no . or # before the text as we are alterring standard html tags */
body {
  /* background */
  /* 'linear-gradient' creates a gradient of colour from left to right, using the colours sepcified */
  background: linear-gradient(to bottom right, #feffdf, #97cba9, #668ba4 );
  /* 'height' lets us change the vertical dimensions of the page*/
  /* 'vh' specifies size depending on the viewport, so this is 100% of the viewport pixel size */
  height: 100vh;
  /* 'flex allows us to use alignment and spacing features */
  display: flex;
  /* 'wrap' lets us control what happens when the page overflows in to the cointainer, 
  instead of being cut off by the screen size */
  flex-wrap: wrap;
  /* 'justify-content' aligns flex items along the axis */
  /* 'center' makes content in center of main axis*/
  justify-content: center;
  /* Same thing but with normal cross axis */
  align-items: center;
  /* The direction of items in the flex are row by default */
  flex-direction: column; 
  /* Changes the font */
  font-family: 'Libre Baskerville', serif;
  /* The margin allows for a specified space around the elements, outisde of borders (if any) */
  /* auto choses that size for me */
  margin:auto;
  /* Similar to flex-wrap, but controls the elements contents */
  overflow: auto;
}

blockquote{
  /* 'fixed' remains in blace no matter viewport */
  position: fixed;
  text-align: center;
  /* 'color' changes the font color */
  /* You can you names of colours, RGB values, RGBA values, HSL and HSLA, Hexdeical notatiion (like here) */
  color:#353839;
  width: 45vh;
  font-size: 2vh;
  /* Only changes the margin gap on the left and right */
  margin-left: auto;
  margin-right: auto;
}

em{
  /* Relative allows us to change position of element, relative to it's position */
  position: relative;
  display: flex;
  text-align: center;
  color:#353839;
  width: 100%;
  font-size: 1.8vh;
  margin: auto;
}

footer{
  position: relative;
  display: flex;
  /* 'text-align' aligns text */
  text-align: center;
  flex-wrap: wrap;
  color:#353839;
  font-size: 2vh;
}

h1, h2, h3, p, li, a {
    position: relative;
    display: flex;
    text-align: center;
    color: #668ba4;
    font-family: 'Libre Baskerville', serif;
}

label{
  position: relative;
  /* 'left' moves an item away from the left side of the screen by specified amount */
  left: 1.5vh;
}

blockquote{
  position: relative;
  display: flex;
  text-align: center;
  color:#353839;
  width: 45vh;
  font-size: 2vh;
  margin-left: auto;
  margin-right: auto;
}

/* The ':hover' changes the look of the 'a' anchor. when it is being hovered over */
a:hover {
  /* Removes underline from the anchor, using the none type */
  text-decoration: none;
  color: #353839;
}

/*** Used In Many ***/

.navbar{
  position: fixed;
  margin: 0;
  top: 0;
  /* 'z-index' is what level the element is on, I used 98 for this, and later 99 for the back button  */
  z-index: 98;
}

.navbar ul{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5vh;
  /* Padding is like margin, but makes spacing INSIDE the borders */
  padding: 0;
  margin: 0;
}

.navbar li{
  text-align: center;
  float: left;
  margin: 2.5vh;
  margin-right: 3vh;
  padding: 0 2vh;
  /* 'cursor' changes the pointer look, here we make it a pointer when a nav bar list item is selected */
  cursor: pointer;
}

.material-icons.md-60 { 
  position: fixed;
  display: flex;
  font-size: 3vh;
  margin: 0;
  padding: 0;
}

#page_header{
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #668ba4;
  font-size: 10vh;
}

.invis_btn{
  position: relative;
  display: flex;
  /* Makes the backgournd transparent */
  background: transparent;
  cursor: pointer;
  /* Makes the border transparent */
  border: transparent;
  margin:0; 
  z-index: 1;
}

.bullet_points li{
  position: relative;
  display: flex;
  display: list-item;
  text-align: left;
  color: #353839;
  font-size: 1.5vh;
}

.current{
  display: flex;
  color: #353839;
  /* Creats a solid border that is 0.3% large of the viewport, uses the color #35389 */
  border: 0.3vh solid #353839;
  /* Chnages the smoothness of the edges on the border */
  border-radius:1vh;
  padding: 1vh;
}

.back{
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 99;
}

/*** Used In index.html ***/

#main-header {
  position: relative;
  display: flex;
  color: #668ba4;
  padding: 1vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 6vh;
}

.go_btn{
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 10vw;
  margin-top: -20vw;
  font-size: 2vh;
  font-weight: 600;
  border: transparent;
  background: transparent;
  color: #353839;
  font-family: 'Libre Baskerville', serif;
}

#btn_container {
  position: relative;
  display: flex;
  justify-content: center; 
  margin-top: 50vh; 
  /* Makes a gap between the elemetns inside the button container */
  gap: 20vh;
}

/*** Used in aboutMe.html ***/

#about_main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5vh;
}

.about{
  position: relative;
  display:inline-block;
  justify-content: flex-end;
  color: #353839;
}

/*** Used in contact.html ***/

#enquire-form{
  position: relative;
  justify-content: center;
  text-align: left;
  color: #668ba4;
  font-family: 'Libre Baskerville', serif;
  font-size: 2vh;
  margin-left: auto;
  margin-right: auto;
}
#quick_contact{
  display: flex;
  margin: 2vh;
  font-size: 1.4vh;
  position: relative;
  top: 0;
}

.quotes {
  position: relative;
  display: flex;
  font-size: 5vh;
  z-index: 1;
  gap: 35vh;
}

#links{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  top: 20vh;
  gap: 130vh;
}

.link_text{
  position: relative;
  display: flex;
  color:#353839;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 2vh;
}

.link_text:hover{
  position: relative;
  display: flex;
  /* Makes sure the text is underlined */
  text-decoration: underline;
}

#submit{
  color: #353839;
  padding: 1vh;
  border: 0.3vh solid black;
  background-color: transparent;
  border-radius:0.5vh;  
}

#submit:hover{
background-color: #35383950;
}

input[type=checkbox] {
  position: relative;
  transform: scale(1.5);
  margin: 2vh;
  font-size: 1.2vh;
}

input[type=email] {
  position: relative;
  /* Resizes by a scale a factor of 1.5 */
  transform: scale(1.5);
  margin: 2vh;
  margin-left: 7vh;
  font-size: 1.2vh;
}

input[type=text] {
  position: relative;
  transform: scale(1.5);
  margin: 2vh;
  margin-left: 7vh;
  font-size: 1.2vh;
}

input[type=phonenumber] {
  position: relative;
  transform: scale(1.5);
  margin-left: 7vh;
  font-size: 1.2vh;
}

input[type=date] {
  position: relative;
  transform: scale(1.5);
  margin-left: 3vh;
  font-size: 1.2vh;
}

input[type=submit] {
  position: relative;
  transform: scale(1.5);
  margin: 2vh;
  font-size: 1.2vh;
}

input[id=text] {
  position: relative;
  transform: scale(1.5);
  margin: 5vh;
  padding: 2vh;
  font-size: 1.2vh;
  width: 40vh;
  height:6vh;
}

/*** Used in hobbies.html ***/

.hobbies_section {
  position: relative;
  display: flex;
  /* Makes direction back to row */
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  right: 11.5vh;
}

.hobbies_section_text {
  position: relative;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  color: #353839;
  font-size: 1.5vh;
}

.hobbies_section img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right:10vh;
  margin-left: 10vh;
}

/*** Used in languages.html ***/

.langauges{
  position: relative;
  display: flex;
  flex-wrap: inherit;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.langauges div{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  margin: auto 3vh;
  padding-top: 2vh;
  padding-bottom: 7vh;
  font-size:1.5vh;
  top: 5vh;
}

.langauges img{
  display: flex;
  position: relative;
  margin-top: 1.5vh;
  margin-right: 25vh;
}

.line_logo{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.review{
  padding: 0.5vh;
  border: solid 0.2vh black;
  width: 20vh;
  height: auto;
  /* This is used to make sure the words stay inside the border, by breaking the word once it reaches overflow size */
  overflow-wrap: break-word;
  color: #353839;
}

/*** Used in projects ***/
#project_height{
  height: 250vh;
}

#project_nav{
  position: relative;
  display: flex;
  bottom: 5vh;
  font-size: 1.5vh;
}

#project_nav li{
  position: relative;
  display: flex;
  margin-right: 2vh;
}

.box{
  border: 0.5vh solid;
}

.description{
  position: relative;
  color: #353839;
  font-size: 1.5vh;
  text-align: start;
}

/* By Samuel Devinett */


































